<div class="weather">
    <div class="weatherIntern">
        <!--Titulos, nombre de la app y desarrollador-->
        <div class="titlesAndSearch">
            <h1>WELCOME TO WEATHER APP</h1>
            <h5>by: Jorge Aguilar</h5>
            <!--Caja de Busqueda-->
            <div class="InputBox">
                <h3 class="currentDateTitle">Current Date</h3>
                <h2 class="currentDateData">{{ currentDate }}</h2>
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control searcher" placeholder="HOME CITY" aria-label="homeCity"
                        aria-describedby="addon-wrapping" v-model="homeCityInput" @keypress.enter="homeCityEvent"
                        @click="clearHomeCityEvent" />
                </div>

                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control searcher" placeholder="DESTINATION CITY"
                        aria-label="homeCity" aria-describedby="addon-wrapping" v-model="destinationCityInput"
                        @keypress.enter="destinationCityEvent" @click="clearDestinationCityEvent" />
                </div>

                <a class="helpTag"
                    glose="To start type the city and press enter. To get a more accurate result try to search by city name and country code divided by comma, example: London, uk | Tokyo, jp | Paris, fr">
                    <svg class="bi bi-question helpBtn" data-toggle="popover" data-trigger="focus" title="Hola"
                        width="3rem" height="2em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                </a>

            </div>
            <div v-if="error != ''" class="alert alert-danger" role="alert">
                {{ showAlert() }}
            </div>
        </div>
        <!--Segmento para los resultados de las busquedas, dividido en dos partes-->
        <div class="data">
            <!--Seccion de Resultados para HOME CITY-->
            <div v-if="showHomeCityName == true" class="homeCityData">
                <h4 class="cityName">{{ homeCityInput }}</h4>
                <div v-for="item in homeCityHourly" v-bind:key="item.dt" class="forecastDiv">
                    <img :src="base_url_icon + item.weather[0].icon + '@2x.png'" alt="temp" class="forecastImg" />
                    <div class="forecastData">
                        <h6 class="forecastDataTime">{{ msToLocalTime(item.dt) }} hrs</h6>
                        <h6 class="forecastDataTemp">
                            Temp: <b>{{ kelvinToCelcius(item.temp) }}°C</b>
                        </h6>
                        <h6 class="forecastDataRH">
                            RH: <b>{{ item.humidity }}%</b>
                        </h6>
                        <h6 class="forecastDataDescription">{{ item.weather[0].description }}</h6>
                    </div>
                </div>
            </div>
            <!--Seccion de Resultados para DESTINATION CITY-->
            <div v-if="showDestinationCityName == true" class="destinationCityData">
                <h4 class="cityName">{{ destinationCityInput }}</h4>
                <div v-for="item in destinationCityHourly" v-bind:key="item.dt" class="forecastDiv">
                    <img :src="base_url_icon + item.weather[0].icon + '@2x.png'" alt="temp" class="forecastImg" />
                    <div class="forecastData">
                        <h6 class="forecastDataTime">{{ msToLocalTime(item.dt) }} hrs</h6>
                        <h6 class="forecastDataTemp">
                            Temp: <b>{{ kelvinToCelcius(item.temp) }}°C</b>
                        </h6>
                        <h6 class="forecastDataRH">
                            RH: <b>{{ item.humidity }}%</b>
                        </h6>
                        <h6 class="forecastDataDescription">{{ item.weather[0].description }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!--Boton de Regreso-->
        <router-link to="/">
            <button type="button" class="btn btn-outline-success returnBtn">RETURN</button>
        </router-link>
    </div>
</div>